<app-navbar-h></app-navbar-h>

<div class="container">
    <div class="row justify-content-center">
        <app-menu class="d-none d-lg-block col-lg-3"></app-menu>
        <div class="col-12 col-lg-8 p-3">
            <div>
                <h1>Actividades</h1>
                <div class="d-flex mt-3 mb-3">
                    <button type="button" class="btn btn-primary btn-lg botonAzul" routerLink="/admin/crear-actividad">Crear actividad</button>
                </div>
                
                <app-actividad-item [listaActividades]="actividades" *ngIf="actividades"></app-actividad-item>
                <app-spinner-tarjeta *ngIf="!actividades"></app-spinner-tarjeta>
            </div> 
        </div>
    </div>
</div>
<app-footer></app-footer>