<!-- Esto es el menu horizontal -->
<app-navbar-h></app-navbar-h>

<div class="container">
    <div class="row justify-content-center">
        <!-- Aqui va el menu vertical -->
        <!-- <app-navbar-v class="col col-12 col-lg-3"></app-navbar-v> -->
        
        <div class="col col-12 col-xxl-10 p-3">
            <div>
                <!-- Escribir código aqui -->
                <div class="container col-9 mt-4">
                    <h1>Editar actividad</h1>
                    <form>
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" required>
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="4" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="imagen" class="form-label">Imagen</label>
                            <input type="file" class="form-control" id="imagen" name="imagen">
                            <small class="form-text text-muted">Puedes cargar una imagen desde tu ordenador.</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Añadir Actividad</button>
                    </form>
                </div>



                <!-- fin zona de codigo -->
            </div> 
        </div>
    </div>
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>