/* img{
    object-fit: cover;
}

*::before{
    box-sizing: border-box;
}

li{
    box-sizing: border-box;
    margin-bottom: 20px;
    list-style: none;
    text-align: left;
}

ul li:before {
    content: "";
    border: 1px solid #5191fa;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 20px;
}

.text-style{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lbl-1{
    border: 1px ridge;
    border-radius: 5px;
    width: 100px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-s{
    height: 38px;
} */

/* NUEVO DISEÑO */

.fondoBlanco{
    background-color: #fff;
}
/* Banner */
/* -------------------------------- */
#bannerOferta{
    color: #fff;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filtroBannerOscuro{
    height: 100%;
    background-color: rgba(28,30,32,.45);
}

/* Lista de actividades */
.imagenActividad{
    background-color: #f1f1f1;
    object-fit: cover;
}
.botonesActividades{
    background-image: linear-gradient(to bottom, transparent, #fff 35%, #fff 50%);
}

/* GALERIA DE FOTOS */
/* -------------------------------- */
#galeriaOferta{
    height: 50vh;
    overflow: hidden;
    background-color: green;
    padding: .5em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: ; */
    gap: .5em;
}

#galeriaOferta div{
    background-color: blue;
    height: 100%;
    border: 1px solid wheat;
}

#galeriaOferta img{
    height: 100%;
    border: 2px solid red;
}