<!-- Esto es el menu horizontal -->
<app-navbar-h></app-navbar-h>
<!-- Escribir código aqui -->
<div class="h-50 d-flex">
    <img src={{oferta.imagen}} class="img-fluid w-100 img-thumbnail" alt="...">
    <img src={{oferta.imagen}} class="img-fluid w-100 img-thumbnail" alt="...">
    <button type="button" class="btn" (click)="toastTrigger()">
      <img width="30" height="30" src="https://img.icons8.com/flat-round/64/hearts.png" alt="hearts"/>
    </button>
</div>
<div class="container-fluid w-75">
    <div class="row">
        <div class="col mt-3 d-flex justify-content-center align-items-center flex-column">
            <h1 class="text-style">{{oferta.titulo}}</h1>
            <p class="text-style">{{oferta.descripcion}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <h2>Alojamiento: {{alojamiento.nombre}}</h2>
            <ul>
                <li>Detalle</li>
                <li>Detalle</li>
                <li>Detalle</li>
                <li>Detalle</li>
            </ul>
            <h2 class="mt-4">Actividad: {{actividad.titulo}}</h2>
            <ul>
                <li>Detalle</li>
                <li>Detalle</li>
                <li>Detalle</li>
                <li>Detalle</li>
            </ul>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger" routerLink="/paso-1/{{oferta.id}}">{{oferta.precio}} €/noche</button>
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
          <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <img width="20" height="20" src="https://img.icons8.com/color/48/filled-like.png" alt="filled-like"/>
                <strong class="me-auto">Oferta X</strong>
                <small>now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                Oferta añadida a favoritos
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<!-- Aqui va el footer -->
<app-footer></app-footer>
