<nav class="quitarFondo navbarV navbar navbar-expand-lg bg-body-tertiary">
    
    <div class="navbarContenedor container-fluid container rounded-3">
        
        <!-- Menu pc -->
        <div class="collapse navbar-collapse gap-2 p-1 pb-3" id="navbarVertical">
            <div class="d-grid gap-2">
                <!-- FILTROS -->
                <!-- Categoría de alojamiento -->
                <div class="categoriaAlojamiento">
                    <h3 class="mt-4">Filtros</h3>
                    <h4>Categoría de alojamiento</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="uno">
                        <label class="form-check-label" for="uno">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            <i class="bi bi-star-fill"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            Apartamentos y cámpings
                        </label>
                    </div>
                </div>

                <!-- PRECIO -->
                <div class="preciosFiltro">
                    <hr>

                    <!-- Precio maximo -->
                    <div class="mb-3">
                        <h4>Precio</h4>
                        <label for="customRange1" class="form-label">Precio mínimo</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" [(ngModel)]="precioMinimo">
                            <span class="input-group-text" id="basic-addon2">€</span>
                        </div>
                        <input type="range" class="form-range" id="customRange1" min="0" max="2000" step="50" [(ngModel)]="precioMinimo">
                    </div>

                    <!-- Precio mínimo -->
                    <div>
                        <label for="customRange2" class="form-label">Precio máximo</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" [(ngModel)]="precioMaximo">
                            <span class="input-group-text" id="basic-addon2">€</span>
                        </div>
                        <input type="range" class="form-range" id="customRange2" min="200" max="5000" step="100" [(ngModel)]="precioMaximo">
                    </div>
                </div>
                
                
                <!-- Servicios de alojamiento -->
                <div *ngIf="listaServicios != ''">
                    <hr>
                    <h4>Servicios de alojamiento</h4>
                    <div>
                        <div class="form-check" *ngFor="let servicio of listaServicios">
                            <input class="form-check-input" type="checkbox" value="" id="uno">
                            <label class="form-check-label" for="uno">{{servicio}}</label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- fin menu pc -->

    </div>
</nav>