<nav class="quitarFondo navbarV navbar navbar-expand-lg bg-body-tertiary">
    
    <div class="navbarContenedor container-fluid container rounded-3">
        
        <!-- Menu pc -->
        <div class="collapse navbar-collapse gap-2 p-1 pb-3" id="navbarVertical">
            <div class="d-grid gap-2 mt-3">
                <button type="button" class="btn btn-primary btn-lg botonAmarillo" routerLink="/admin/crear-oferta">Crear oferta</button>
                <hr>
                <button type="button" class="btn btn-primary btn-lg botonAmarillo" routerLink="/admin/hoteles">Hoteles</button>
                <button type="button" class="btn btn-primary btn-lg botonAmarillo" routerLink="/admin/actividades">Actividades</button>

                
                <!-- FILTROS -->
                <!-- Categoría de alojamiento -->
                <h3 class="mt-4">Filtros</h3>
                <h4>Categoría de alojamiento</h4>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="uno">
                    <label class="form-check-label" for="uno">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="uno">
                    <label class="form-check-label" for="uno">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="uno">
                    <label class="form-check-label" for="uno">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="uno">
                    <label class="form-check-label" for="uno">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="uno">
                    <label class="form-check-label" for="uno">
                        <i class="bi bi-star-fill"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="uno">
                    <label class="form-check-label" for="uno">
                        Apartamentos y cámpings
                    </label>
                </div>
                <!-- PRECIO -->
                <hr>
                <!-- Precio maximo -->
                <h4>Precio</h4>
                <label for="customRange1" class="form-label">Precio mínimo</label>
                <input type="range" class="form-range" id="customRange1" min="0" max="2000" step="50" value="200">
                
                <!-- Precio mínimo -->
                <label for="customRange2" class="form-label">Precio máximo</label>
                <input type="range" class="form-range" id="customRange2" min="200" max="5000" step="100" value="2000">
                
                <!-- Servicios de alojamiento -->
                <div *ngIf="listaServicios != ''">
                    <hr>
                    <h4>Servicios de alojamiento</h4>
                    <div>
                        <div class="form-check" *ngFor="let servicio of listaServicios">
                            <input class="form-check-input" type="checkbox" value="" id="uno">
                            <label class="form-check-label" for="uno">{{servicio}}</label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- fin menu pc -->

    </div>
</nav>