<app-navbar-h></app-navbar-h>
<div class="container w-75">
  <h1>Sobre Nosotros</h1>
  <h3 class="mt-4">¡Saludos y bienvenidos a VivaViajes!</h3>
  <p>
    Somos una agencia de exploración en línea, que se enorgullece de ofrecer un
    servicio de atención al cliente excepcional y de comprender a la perfección
    las necesidades individuales de nuestros apreciados viajeros. Nuestro equipo
    está aquí para acompañarte en la búsqueda y organización de las escapadas
    que siempre has soñado.
  </p>
  <h3 class="mt-4">¿Cuál es nuestra labor?</h3>
  <p>
    Investigamos en el mercado para ajustarnos a tu presupuesto, diseñando cada
    oferta según tus deseos y demandas únicas. Esto abarca, entre otras cosas:
    alojamiento, recomendaciones para excursiones locales y actividades.
  </p>
  <h3 class="mt-4">Nuestro propósito</h3>
  <p>
    Trabajamos incansablemente para brindar a nuestros viajeros la experiencia
    de viaje suprema.
  </p>
  <h3 class="mt-4">¿Cómo lo conseguimos?</h3>
  <p>
    Aspiramos a que te sientas parte integral de la comunidad VivaViajes.
    Nuestro equipo es amigable y acogedor, y su pasión por los viajes está
    respaldada por años de experiencia en la industria. Cada cliente es un
    individuo, y lo que es más crucial, te acogeremos en la familia VivaViajes.
  </p>
  <h3 class="mt-4">¿Qué te ofrecemos?</h3>
  <p>
    Con acceso a los principales proveedores del sector, perseguimos la meta de
    presentarte ofertas, hoteles, traslados y mucho más con una relación
    calidad-precio insuperable. Actualmente, nuestro sitio web te permite
    reservar hoteles y traslados (pronto, incluiremos una herramienta de
    creación de ofertas completamente operativa). Nuestro espectro abarca más de
    300,000 hoteles en destinos del territorio español.
  </p>
  <p>
    Entonces, siéntate, relájate y da el primer paso: llámanos, envía un
    mensaje, comunícate a través de nuestras redes sociales o utiliza nuestro
    sitio web para reservar tu escapada perfecta. Deja que VivaViajes sea tu
    guía en la caza de los viajes de tus sueños.
  </p>
</div>
<app-footer></app-footer>
