<app-navbar-h></app-navbar-h>
<!-- SECCION MIEMROS -->
<div class="container pt-5 pb-3">
  <!-- FOTO LOGO -->
  <div class="fotoLogo efectoZoomIn"></div>
  <h2 class="text-center mb-4">Nuestro equipo</h2>

  <!-- CONTENEDOR CON LAS TARJETAS DE LOS MIEMBROS -->
  <div class="d-flex gap-4 justify-content-center flex-wrap">
    <!-- TARJETA -->
    <div class="row" *ngFor="let miembro of datosEquipo">
      <div class="col">
        <div class="card d-flex justify-content-center tarjeta p-3 align-items-center" style="width: 18rem;">
          <!-- FOTO -->
          <img [src]="miembro.urlFoto" class="card-img-top rounded-circle fotoPersona efectoZoom">

          <!-- NOMRE -->
          <h3 class="mt-3 mb-0">{{miembro.nombre}}</h3>
          <p class="fullStack">{{fullStack}}</p>

          <!-- LINKS -->
          <div>
            <div class="link">
              <!-- LINKEDIN -->
            <a [href]="miembro.linkLinkedin" target="_blank">
              <i class="bi bi-linkedin"></i>
            </a>
            <!-- GITHUB -->
            <a [href]="miembro.linkGithub" target="_blank">
              <i class="bi bi-github"></i>
            </a>
            </div>
            <div class="link">
            </div>
          </div>
  
          <!-- DESCRIPCION -->
          <div class="mt-2 descripcion">
            {{miembro.descripcion}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <h2 class="text-center mb-4">Sobre nosotros</h2>
  <div class="texto mostrarHaciaArriba">
    <p>Somos un equipo de tres mentes apasionadas de la programación que han transformado sueños digitales en una realidad vibrante. Con dedicación incansable, hemos desarrollado una web completa que refleja nuestra pasión por la innovación y la tecnología. Cada línea de código escrita es un testimonio de nuestra determinación por superar los desafíos y crear algo verdaderamente extraordinario</p>
    <br>
    <p>Nuestra web no es solo un proyecto, es un compromiso con la excelencia. Cada página, cada función, y cada detalle ha sido moldeado con amor y pasión. Estamos impulsados por una curiosidad insaciable y la creencia de que la tecnología puede transformar vidas. En cada clic, en cada interacción, queremos que sientas nuestra pasión por la creación digital.</p>
    <br>
    <p>Nos enorgullece presentarte VivaViajes. Pero este es solo el comienzo de nuestra emocionante travesía. Nos apasiona continuar aprendiendo, mejorando y expandiendo nuestros horizontes tecnológicos. Únete a nosotros en este emocionante viaje y juntos, exploraremos nuevas fronteras digitales y construiremos un futuro aún más brillante. ¡La tecnología es nuestro lienzo y estamos ansiosos por pintar un mundo digital más emocionante y funcional!</p>
  </div>
</div>
<app-footer></app-footer>
