<app-navbar-h></app-navbar-h>

<div class="container">
    <div class="row justify-content-center">
        <!-- Falta arreglar esto, para que al colapsar aparezca mas arriba junto al otro menu y no haya la separacion del header y del buscador -->
        <div class="d-flex flex-column col-12 col-lg-12 col-xxl-3 mt-5 me-3 align-items-center">
            <div class="profile-photo mb-3" *ngIf="usuario.nombre">
                {{ usuario.nombre.charAt(0) }}
            </div>
            <div class="text-center relative mb-3">
                <input type="file" class="form-control" id="fileInput" style="display: none" (change)="handleFileChange($event)">
            </div>
        </div>
        
        
        <div class="user-form-settings col-11 col-lg-12 col-xxl-8">
            <h2>Datos personales</h2>
            <hr>
            <form class="input-has-icon">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-title">
                            <strong>Información personal</strong>
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="text" name="email" placeholder="E-mail" class="form-control" [(ngModel)]="usuario.email" [disabled]="!editMode">
                            <i class="fa fa-envelope input-icon"></i>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" name="first_name" placeholder="Nombre" class="form-control" [(ngModel)]="usuario.nombre" [disabled]="!editMode">
                                    <i class="fa fa-user input-icon"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Apellidos</label>
                                    <input type="text" name="last_name" placeholder="Apellidos" class="form-control" [(ngModel)]="usuario.apellidos" [disabled]="!editMode">
                                    <i class="fa fa-user input-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="text" name="phone" placeholder="Teléfono" class="form-control" [(ngModel)]="usuario.telefono" [disabled]="!editMode">
                            <i class="fa fa-phone input-icon"></i>
                        </div>
                        <div class="form-group">
                            <label>Fecha de nacimiento</label>
                            <input type="text" name="birthday" placeholder="Fecha de nacimiento" class="form-control date-picker" [(ngModel)]="usuario.fechaNacimiento" [disabled]="!editMode">
                            <i class="fa fa-birthday-cake input-icon"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-title">
                            <strong>Localización</strong>
                        </div>
                        <div class="form-group">
                            <label>País</label>
                            <input type="text" name="pais" placeholder="País" class="form-control" [(ngModel)]="direccion.pais" [disabled]="!editMode">
                            <i class="fa fa-map-pin input-icon"></i>
                        </div>
                        <div class="form-group">
                            <label>Provincia</label>
                            <input type="text" name="provincia" placeholder="Provincia" class="form-control" [(ngModel)]="direccion.provincia" [disabled]="!editMode">
                            <i class="fa fa-map-signs input-icon"></i>
                        </div>
                        <div class="form-group">
                            <label>Localidad</label>
                            <input type="text" name="localidad" placeholder="Localidad" class="form-control" [(ngModel)]="direccion.localidad" [disabled]="!editMode">
                            <i class="fa fa-street-view input-icon"></i>
                        </div>
                        
                        <div class="form-group">
                            <label>Código Postal</label>
                            <input type="text" value="" name="codigo_postal" placeholder="Código Postal" class="form-control" [(ngModel)]="direccion.codigoPostal" [disabled]="!editMode">
                            <i class="fa fa-map-pin input-icon"></i>
                        </div>
                        <div class="form-group">
                            <label>Calle</label>
                            <input type="text" name="direccion" placeholder="Dirección" class="form-control" [(ngModel)]="direccion.calle" [disabled]="!editMode">
                            <i class="fa fa-location-arrow input-icon"></i>
                        </div>
                        
                    </div>
                    <div *ngIf="loading" class="loading-spinner">
                        <i class="fas fa-spinner fa-spin"></i> Actualizando tu perfil
                    </div>
                    <div class="col-md-12">
                        <hr>
                        <button class="btn btn-primary btn-lg botonAzul" (click)="permitirEditar()">{{ editMode ? 'Guardar cambios' : 'Editar' }}</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>