<div class="header" (scroll)="doSomethingOnWindowScroll($event)">

    <div class="fondoOscuro"></div>

    <div class="eslogan text-center">
        <!-- Logo -->
        <div class="logo efectoZoomOut">
            <img src="../../../../assets/vivaviajes-logo-blanco.svg" alt="">
        </div>

        <!-- Eslogan -->
        <h1 class="mostrarHaciaArriba">¡Viaja más, gasta menos!</h1>
        <h2 class="mostrarHaciaArriba">Descubre las mejores ofertas en VivaViajes</h2>

        <!-- Flecha -->
        <div class="flechaContainer position-absolute end-0 start-0 bottom-0" (click)="scrollClick()">
            <i class="bi bi-chevron-compact-up flechaAnimada"></i>
            <!-- <i class="bi bi-chevron-double-up flechaAnimada"></i> -->
        </div>

    </div>
</div>