<!-- Esto es el menu horizontal -->
<app-navbar-h></app-navbar-h>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-11 col-md-10 col-lg-9 col-xxl-7 m-5">
            <h1>Crear actividad</h1>
            <form>
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required [(ngModel)]="titulo">
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="4" required [(ngModel)]="descripcion"></textarea>
                </div>
                <!-- País -->
                <div class="mb-3">
                    <label class="form-label">País</label>
                    <input class="form-control" type="text" [(ngModel)]="pais" name="pais" required>
                </div>

                <!-- Dirección y Numero -->
                <div class="mb-3 gap-2 d-flex">
                    <label class="form-label w-75">Dirección
                        <input class="form-control" type="text" [(ngModel)]="calle" name="direccion" required>
                    </label>

                    <label class="form-label w-25">Nº
                        <input class="form-control" type="text" [(ngModel)]="numero" name="numero" required>
                    </label>
                </div>

                <!-- C.P. y Provincia -->
                <div class="d-flex gap-2 mb-3">
                    <label class="form-label w-25">C.P.
                        <input class="form-control" type="text" [(ngModel)]="codigoPostal" name="codigoPostal" required>
                    </label>

                    <label class="form-label w-75">Provincia
                        <input class="form-control" type="text" [(ngModel)]="provincia" name="provincia" required>
                    </label>
                </div>

                <!-- Localidad -->
                <div class="mb-4">
                    <label class="form-label">Localidad</label>
                    <input class="form-control" type="text" [(ngModel)]="localidad" name="localidad" required>
                </div>

                <div class="mb-4">
                    <app-gestor-img #galeriaFotos></app-gestor-img>
                </div>
                <button type="submit" class="btn btn-primary" (click)="addActividad()">Añadir Actividad</button>
            </form>
        </div>
    </div>
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>