<app-navbar-h></app-navbar-h>

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="d-none d-lg-block col-lg-3">
            <app-menu-perfil></app-menu-perfil>
            <div>
                <app-navbar-v></app-navbar-v>
            </div>
            
        </div>
        
        <div class="col-12 col-lg-8 p-3">
            <div>
                <h1>Favoritos</h1>
                <hr>
                <div *ngFor="let oferta of listaOfertas">
                    <app-oferta [ofertaId]="oferta.id" class="col-3"></app-oferta>
                </div>
            </div> 
        </div>
    </div>
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>