<!-- Esto es el menu horizontal -->
<app-navbar-h></app-navbar-h>

<div class="container">
    <div class="row justify-content-center">
        <!-- Aqui va el menu vertical -->
        <app-navbar-v class="col col-12 col-lg-3"></app-navbar-v>
        
        <div class="col col-lg-7 col-12 p-3">
            <div>
                <!-- Escribir código aqui -->
                <h1>Favoritos</h1>
                <div *ngFor="let oferta of listaOfertas">
                    <app-oferta [ofertaId]="oferta.id" class="col-3"></app-oferta>
                </div>
                <!-- fin zona de codigo -->
            </div> 
        </div>
    </div>
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>