<app-navbar-h></app-navbar-h>
<div class="container custom-container">
    <div class="row justify-content-center">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <!-- Imagen de la reserva -->
            <img src="https://th.bing.com/th/id/R.51bfa400eed6f3c145874d76e8ada967?rik=XQOoCzTXoCjb9w&pid=ImgRaw&r=0" alt="Imagen de la reserva" class="img-fluid rounded m-auto">
        </div>
        <div class="col-md-6 texto my-3">
            <!-- Detalles de la reserva -->
            <h2 class="mb-3">{{reserva.tituloOferta}}</h2>
            <p><strong>Ubicación:</strong> {{reserva.direccion.localidad}}</p>
            <p><strong>Fechas:</strong> de {{reserva.fechaIni}} hasta {{reserva.fechaFinal}}</p>
            <p><strong>Número de viajeros:</strong> 2</p>
            <p class="textoCargosAdicionales"> Cargos adicionales <br>
                El precio que aparece abajo puede incluir cargos según la ocupación máxima. Puede incluir los impuestos locales o los cargos que haya configurado el alojamiento.
                Impuesto municipal  (€ 5,00 ×  noche) <br>
                El precio final que se muestra NO incluye el importe que pagarás al alojamiento. <br><br>
                VivaViajes no cobra a los clientes cargos de gestión, de administración ni de cualquier otro tipo.
                La entidad emisora puede aplicar un cargo por transacción internacional.</p>
            <!-- Si la reserva esta cancelada, sale el precio tachado para que sea más visual -->
            <div *ngIf="reserva.estado !== 'Cancelada'; else reservaCancelada">
                <div class="d-flex justify-content-between">
                    <p>Esta reserva está <strong>{{reserva.estado}}</strong> </p>
                    <p class="precio"><strong>Total:</strong> {{precio_total | number: '1.2-2' }} €</p>
                </div>
            </div>
            <ng-template #reservaCancelada>
                <div class="d-flex justify-content-between">
                    <p>Esta reserva está <strong>{{reserva.estado}}</strong> </p>
                    <p class="precio text-decoration-line-through"><strong>Total:</strong> {{precio_total | number: '1.2-2' }} €</p>
                </div>
            </ng-template>
            
        </div>
    </div>
</div>

<app-footer></app-footer>
