<div class="d-flex flex-column px-3 pt-3 pb-3">
    <button type="button" class="btn btn-primary btn-lg botonAmarillo mt-5 mb-2 mx-3" routerLink="/perfil">Mi perfil</button>
    <button type="button" class="btn btn-primary btn-lg botonAmarillo my-2 mx-3" routerLink="/reservas">Mis reservas</button>
    <button type="button" class="btn btn-primary btn-lg botonAmarillo my-2 mx-3" routerLink="/favoritos">Favoritos</button>
    <button type="button" class="btn btn-primary btn-lg botonAmarillo my-2 mx-3" routerLink="/recompensas">Recompensas</button>
</div>  

