<!-- Esto es el menu horizontal -->
<app-navbar-h></app-navbar-h>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-11 col-md-10 col-lg-9 col-xxl-7 m-5">
            <h1 class="mb-4">Editar alojamiento</h1>
            <form>
                <div class="mb-3">
                    <label for="nombre" class="form-label fw-bold">Nombre</label>
                    <div class="d-flex">
                        <input *ngIf="nombreEditSeleccionado; else nombreBloqueado" type="text" class="form-control me-4" id="nombre" [(ngModel)]="alojamiento.nombre" name="nombre">
                        <ng-template class="w-100" #nombreBloqueado>
                            <div class="w-100 w-100 me-4 fondo-gris-claro rounded">
                                <p class="ms-3 mt-2 mb-0 me-2 fuente-color-gris">{{ alojamiento.nombre }}</p>
                            </div>
                        </ng-template>
                        <button class="btn btn-secondary material-symbols-outlined" (click)="activadoNombreEdit()">
                            {{ nombreEditSeleccionado ? 'save' : 'edit' }}
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="categoria" class="form-label fw-bold">Categoria</label>
                    <div class="d-flex">
                        <select *ngIf="categoriaEditSeleccionado; else categoriaBloqueado" class="form-control form-select me-4" [(ngModel)]="alojamiento.categoria" id="categoria" name="categoria" required>
                            <option selected default disabled>Elegir categoría</option>
                            <option value="5">★★★★★</option>
                            <option value="4">★★★★</option>
                            <option value="3">★★★</option>
                            <option value="2">★★</option>
                            <option value="1">★</option>
                            <option value="0">Apartamentos y cámpings</option>
                        </select>
                        <ng-template class="w-100" #categoriaBloqueado>
                            <div class="w-100 w-100 me-4 fondo-gris-claro rounded">
                                <p class="ms-3 mt-2 mb-0 me-2 fuente-color-gris">{{ alojamiento.categoria }}</p>
                            </div>
                        </ng-template>
                        <button class="btn btn-secondary material-symbols-outlined" (click)="activadoCategoriaEdit()">
                            {{ categoriaEditSeleccionado ? 'save' : 'edit' }}
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label fw-bold">Telefono</label>
                    <div class="d-flex">
                        <input *ngIf="telefonoEditSeleccionado; else telefonoBloqueado" type="text" class="form-control me-4" id="nombre" [(ngModel)]="alojamiento.telefono" name="telefono">
                        <ng-template class="w-100" #telefonoBloqueado>
                            <div class="w-100 w-100 me-4 fondo-gris-claro rounded">
                                <p class="ms-3 mt-2 mb-0 me-2 fuente-color-gris">{{ alojamiento.telefono }}</p>
                            </div>
                        </ng-template>
                        <button class="btn btn-secondary material-symbols-outlined" (click)="activadoTelefonoEdit()">
                            {{ telefonoEditSeleccionado ? 'save' : 'edit' }}
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label fw-bold">Email</label>
                    <div class="d-flex">
                        <input *ngIf="emailEditSeleccionado; else emailBloqueado" type="text" class="form-control me-4" id="email" [(ngModel)]="alojamiento.email" name="email">
                        <ng-template class="w-100" #emailBloqueado>
                            <div class="w-100 w-100 me-4 fondo-gris-claro rounded">
                                <p class="ms-3 mt-2 mb-0 me-2 fuente-color-gris">{{ alojamiento.email }}</p>
                            </div>
                        </ng-template>
                        <button class="btn btn-secondary material-symbols-outlined" (click)="activadoEmailEdit()">
                            {{ emailEditSeleccionado ? 'save' : 'edit' }}
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="pais" class="form-label fw-bold">Pais</label>
                    <div class="d-flex">
                        <input *ngIf="paisEditSeleccionado; else paisBloqueado" type="text" class="form-control me-4" id="pais" [(ngModel)]="alojamiento.direccion.pais" name="pais">
                        <ng-template class="w-100" #paisBloqueado>
                            <div class="w-100 w-100 me-4 fondo-gris-claro rounded">
                                <p class="ms-3 mt-2 mb-0 me-2 fuente-color-gris">{{ alojamiento.direccion.pais }}</p>
                            </div>
                        </ng-template>
                        <button class="btn btn-secondary material-symbols-outlined" (click)="activadoPaisEdit()">
                            {{ paisEditSeleccionado ? 'save' : 'edit' }}
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="calle" class="form-label fw-bold">Calle</label>
                    <div class="d-flex">
                        <input *ngIf="calleEditSeleccionado; else calleBloqueado" type="text" class="form-control me-4" id="calle" [(ngModel)]="alojamiento.direccion.calle" name="calle">
                        <ng-template class="w-100" #calleBloqueado>
                            <div class="w-100 w-100 me-4 fondo-gris-claro rounded">
                                <p class="ms-3 mt-2 mb-0 me-2 fuente-color-gris">{{ alojamiento.direccion.calle }}</p>
                            </div>
                        </ng-template>
                        <button class="btn btn-secondary material-symbols-outlined" (click)="activadoCalleEdit()">
                            {{ calleEditSeleccionado ? 'save' : 'edit' }}
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="numero" class="form-label fw-bold">Numero</label>
                    <div class="d-flex">
                        <input *ngIf="numeroEditSeleccionado; else numeroBloqueado" type="text" class="form-control me-4" id="numero" [(ngModel)]="alojamiento.direccion.numero" name="numero">
                        <ng-template class="w-100" #numeroBloqueado>
                            <div class="w-100 w-100 me-4 fondo-gris-claro rounded">
                                <p class="ms-3 mt-2 mb-0 me-2 fuente-color-gris">{{ alojamiento.direccion.numero }}</p>
                            </div>
                        </ng-template>
                        <button class="btn btn-secondary material-symbols-outlined" (click)="activadoNumeroEdit()">
                            {{ numeroEditSeleccionado ? 'save' : 'edit' }}
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="CP" class="form-label fw-bold">CP</label>
                    <div class="d-flex">
                        <input *ngIf="CPEditSeleccionado; else CPBloqueado" type="text" class="form-control me-4" id="CP" [(ngModel)]="alojamiento.direccion.codigoPostal" name="CP">
                        <ng-template class="w-100" #CPBloqueado>
                            <div class="w-100 w-100 me-4 fondo-gris-claro rounded">
                                <p class="ms-3 mt-2 mb-0 me-2 fuente-color-gris">{{ alojamiento.direccion.codigoPostal }}</p>
                            </div>
                        </ng-template>
                        <button class="btn btn-secondary material-symbols-outlined" (click)="activadoCPEdit()">
                            {{ CPEditSeleccionado ? 'save' : 'edit' }}
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="provincia" class="form-label fw-bold">Provincia</label>
                    <div class="d-flex">
                        <input *ngIf="provinciaEditSeleccionado; else provinciaBloqueado" type="text" class="form-control me-4" id="provincia" [(ngModel)]="alojamiento.direccion.provincia" name="provincia">
                        <ng-template class="w-100" #provinciaBloqueado>
                            <div class="w-100 w-100 me-4 fondo-gris-claro rounded">
                                <p class="ms-3 mt-2 mb-0 me-2 fuente-color-gris">{{ alojamiento.direccion.provincia }}</p>
                            </div>
                        </ng-template>
                        <button class="btn btn-secondary material-symbols-outlined" (click)="activadoProvinciaEdit()">
                            {{ provinciaEditSeleccionado ? 'save' : 'edit' }}
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="localidad" class="form-label fw-bold">Localidad</label>
                    <div class="d-flex">
                        <input *ngIf="localidadEditSeleccionado; else localidadBloqueado" type="text" class="form-control me-4" id="localidad" [(ngModel)]="alojamiento.direccion.localidad" name="localidad">
                        <ng-template class="w-100" #localidadBloqueado>
                            <div class="w-100 w-100 me-4 fondo-gris-claro rounded">
                                <p class="ms-3 mt-2 mb-0 me-2 fuente-color-gris">{{ alojamiento.direccion.localidad }}</p>
                            </div>
                        </ng-template>
                        <button class="btn btn-secondary material-symbols-outlined" (click)="activadoLocalidadEdit()">
                            {{ localidadEditSeleccionado ? 'save' : 'edit' }}
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <label for="imagen" class="form-label">Imagen</label>
                        <input type="file" class="form-control" id="imagen" name="imagen">
                        <small class="form-text text-muted">Cargar imagen</small>
                    </div>
                    <button type="submit" class="btn btn-warning text-white mt-2">Añadir imagen</button>
                </div>
                <button type="submit" class="btn btn-primary" (click)="confirmarEdicion()">Confirmar</button>
            </form>
        </div>
    </div>
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>