    <!-- Esto es el menu horizontal -->
    <app-navbar-h></app-navbar-h>

<!-- Aqui va la foto de la pantalla de inicio -->
<app-header></app-header>
<!-- Aqui va el buscador -->
<app-buscador id="buscador" (nombre_oferta)="actualizarListaOfertas($event)"></app-buscador>

<div class="container">
    <!-- Aqui va el menu vertical -->
    <div class="row">
        
        <app-navbar-v class="col col-12 col-lg-3"></app-navbar-v>
        
        <div class="col col-12 col-lg-9">
            <app-oferta *ngFor="let oferta of ofertas_mostradas" [ofertaId]="oferta.id"></app-oferta>
            <div class="d-flex align-items-center justify-content-center mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <button class="page-link" aria-label="Previous" (click)="goToPage(0)">
                          <span aria-hidden="true">&laquo;</span>
                        </button>
                      </li>
                      <li class="page-item">
                        <button class="page-link" aria-label="Previous" (click)="previousPage()">
                            Anterior
                        </button>
                      </li>
                      <li class="page-item"><button class="page-link">{{pagina_actual+1}}</button></li>
                      <li class="page-item">
                        <button class="page-link" aria-label="Previous" (click)="nextPage()">
                            Siguiente
                        </button>
                      </li>
                      <li class="page-item">
                        <button class="page-link" aria-label="Next" (click)="goToPage(total_paginas)">
                          <span aria-hidden="true">&raquo;</span>
                        </button>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>