    <!-- Esto es el menu horizontal -->
    <app-navbar-h></app-navbar-h>

<!-- Aqui va la foto de la pantalla de inicio -->
<app-header></app-header>
<!-- Aqui va el buscador -->
<div id="auxiliarBuscador"></div>
<div class="container mb-3">
  <app-buscador id="buscador" (nombre_oferta)="actualizarListaOfertas($event)"></app-buscador>
  <button id="boton-filtro-responsive" class="col-12 d-lg-none btn botonAzulVacio" (click)="pulsarFiltro()">Abrir Filtro</button>
</div>
<div class="container">
  <div class="row">
    
    <!-- Aqui va el menu vertical -->
    <div class="mb-3">
      <div *ngIf="filtroAbierto" class="col-lg-3 col-md-12" [ngClass]="{'open': filtroAbierto}">
        <app-navbar-v></app-navbar-v>
      </div>
    </div>
      <div *ngIf="!filtroAbierto" class="d-none col-lg-3 d-lg-block" [ngClass]="{'open': filtroAbierto}">
        <app-navbar-v></app-navbar-v>
      </div>
    
    

    <!-- Aqui va el contenido -->
    <div class="col col-12 col-lg-9">

        <!-- Ofertas -->
        <app-oferta *ngFor="let oferta of ofertas_mostradas" [ofertaId]="oferta.id"></app-oferta>

        <!-- Paginación -->
        <div class="d-flex align-items-center justify-content-center mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination botonesPaginacion">
                  <li class="page-item">
                    <button class="page-link" aria-label="Previous" (click)="goToPage(0)">
                      <span aria-hidden="true">&laquo;</span>
                    </button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" aria-label="Previous" (click)="previousPage()">
                        Anterior
                    </button>
                  </li>
                  <li class="page-item"><button class="page-link">{{pagina_actual+1}}</button></li>
                  <li class="page-item">
                    <button class="page-link" aria-label="Previous" (click)="nextPage()">
                        Siguiente
                    </button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" aria-label="Next" (click)="goToPage(total_paginas)">
                      <span aria-hidden="true">&raquo;</span>
                    </button>
                  </li>
                </ul>
              </nav>
        </div>
        
      </div>
    </div>

    <!-- Botón subir hacia arriba -->
    <div id="flechaSubir" class="position-fixed" (click)="scrollClick()">
      <i class="bi bi-arrow-up-circle-fill"></i>
    </div>
    
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>