    <!-- Esto es el menu horizontal -->
    <app-navbar-h></app-navbar-h>

<!-- Aqui va la foto de la pantalla de inicio -->
<app-header></app-header>
<!-- Aqui va el buscador -->
<div id="auxiliarBuscador"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <app-buscador id="buscador" (nombre_oferta)="actualizarListaOfertas($event)" (lista_ofertas)="actualizarListaOfertas($event)"></app-buscador>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-12">
      <app-navbar-v (res_busqueda)="updateResBusqueda($event)" [data_filtros]="filtros_data" (ofertas)="actualizarPaginaFiltrada($event)" ></app-navbar-v>
    </div>
    <!-- Aqui va el contenido -->
    <div class="col col-12 col-lg-9 mt-4" id="main">
        <p id="resultados" [ngStyle]="{'display': mostrarElemento ? 'block' : 'none'}">Obtuviste {{res_length}} de la búsqueda</p>
        <!-- Ofertas -->
        <app-oferta [ofertas]="ofertas_mostradas"></app-oferta>

        <!-- Paginación -->
        <div class="d-flex align-items-center justify-content-center mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination botonesPaginacion">
                  <li class="page-item">
                    <button class="page-link" aria-label="goToPage" (click)="goToPage(0)">
                      <span aria-hidden="true">&laquo;</span>
                    </button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" aria-label="previous" (click)="previousPage()">
                        Anterior
                    </button>
                  </li>
                  <li class="page-item"><button class="page-link">{{pagina_actual+1}}</button></li>
                  <li class="page-item">
                    <button class="page-link" aria-label="next" (click)="nextPage()">
                        Siguiente
                    </button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" aria-label="goToPage" (click)="goToPage(total_paginas)">
                      <span aria-hidden="true">&raquo;</span>
                    </button>
                  </li>
                </ul>
              </nav>
        </div>
        
      </div>
    </div>

    <!-- Botón subir hacia arriba -->
    <div id="flechaSubir" class="position-fixed" (click)="scrollClick()">
      <i class="bi bi-arrow-up-circle-fill"></i>
    </div>
    
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>