<!-- Esto es el menu horizontal -->
<app-navbar-h></app-navbar-h>
<div class="container">
    <div class="row justify-content-center">
        <app-menu class="d-none d-lg-block col-lg-3"></app-menu>
        <div class="col-12 col-lg-8 p-3">
            <div>
                <!-- Escribir código aqui -->
                <div class="titulo d-flex justify-content-between mt-3 align-items-center">
                    <h1 class="">Crear oferta</h1>
                    <button class="btn btn-primary btn-lg botonAzul" (click)="crearOferta();">Crear oferta</button>
                </div>
                <hr>

                <!-- GALERIA DE FOTOS -->
                <!-- ------------------------------------------------------------------------------------------------ -->
                <!-- <div class="contenedorInfoOferta rounded-3 p-3">
                    <h2>Lista alojamientos</h2>
                    <pre>
                        {{alojamientosCompletos | json}}
                    </pre>
                </div> -->

                <app-gestor-img #galeriaFotos></app-gestor-img>
                
                <!-- APARTADO INFORMACION DE LA OFERTA -->
                <!-- ------------------------------------------------------------------------------------------------ -->
                <div class="contenedorInfoOferta rounded-3 p-3">
                    <h2>Oferta</h2>
                    <hr>
                    <!-- Titulo -->
                    <label class="form-label">Titulo</label>
                    <input class="form-control" type="text" [(ngModel)]="oferta.titulo">

                    <!-- Precio y Max de personas -->
                    <div class="d-flex gap-2">
                        <label class="form-label column-6 w-50">Precio por día
                            <input class="form-control" type="number" [(ngModel)]="oferta.precioDia">
                        </label>

                        <label class="form-label column-6 w-50">Máximo de personas
                            <input class="form-control" type="number" [(ngModel)]="oferta.maxPersonas">
                        </label>
                    </div>

                    <!-- Fecha inicio y Fecha fin -->
                    <div class="d-flex gap-2">
                        <label class="form-label column-6 w-50">Fecha inicio
                            <input class="form-control" type="date" [(ngModel)]="oferta.fechaInicio">
                        </label>

                        <label class="form-label column-6 w-50">Fecha fin
                            <input class="form-control" type="date" [(ngModel)]="oferta.fechaFin">
                        </label>
                    </div>

                    <!-- Ofertas disponibles -->
                    <label class="form-label">Ofertas disponibles</label>
                    <input class="form-control" type="number" [(ngModel)]="oferta.ofertasDisponibles">

                    <!-- Descripción -->
                    <label class="form-label">Descripción</label>
                    <textarea class="form-control" rows="3" [(ngModel)]="oferta.descripcion"></textarea>
                </div>


                <!-- APARTADO ALOJAMIENTOS -->
                <!-- ------------------------------------------------------------------------------------------------ -->
                <div class="contenedorInfoOferta rounded-3 p-3 mt-4">
                    <!-- Titulo y Boton agenda -->
                    <div class="titulo d-flex justify-content-between align-items-center">
                        <h2>Alojamiento</h2>
                        <button class="btn btn-primary btn-lg botonAzul" (click)="modalTrigger()" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-journal-bookmark-fill"></i> Agenda</button>
                    </div>

                    <!-- Modal de Agenda de Alojamientos -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn btn-primary botonAzulVacio" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i> Cerrar</button>
                                    <h3><i class="bi bi-journal-bookmark"></i> Agenda</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="d-flex flex-column">
                                        <h5>Buscar alojamientos:</h5>

                                        <!-- BUSCADOR -->
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-house-fill"></i></span>
                                            <input type="text" class="form-control" placeholder="Nombre del alojamiento" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                        
                                        <!-- NOTON BUSCAR -->
                                        <button type="button" class="btn btn-primary botonAzul" data-bs-dismiss="modal" aria-label="Close">Buscar</button>
                                        
                                        <div class="div">
                                            <hr>
                                            <div class="fichaAlojBuscador p-2">
                                                <h5>Hotel palace</h5>
                                                <p><i class="bi bi-globe-americas"></i> Salou - Tarragona</p>
                                                <p><i class="bi bi-geo-alt-fill"></i> Calle Real 123 | <b>CP:</b> 43545 | <i class="bi bi-telephone-fill"></i> 977334628</p>
                                                <p><i class="bi bi-envelope-fill"></i> hotelpalace@hotelp.com</p>
                                            </div>
                                        </div>

                                        <!-- LISTA DE ALOJAMIENTOS -->
                                        <!-- <div *ngFor="let alojamiento of alojamientosCompletos">
                                            {{alojamiento.nombre}}, {{alojamiento.localidad}}, {{alojamiento.pais}}
                                        </div> -->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- Nombre -->
                    <label class="form-label">Nombre</label>
                    <input class="form-control" type="text" [(ngModel)]="alojamiento.nombre">
                    
                    <!-- País -->
                    <label class="form-label">País</label>
                    <input class="form-control" type="text" [(ngModel)]="alojamiento.pais">

                    <!-- Dirección y Numero -->
                    <div class="d-flex gap-2">
                        <label class="form-label w-75">Dirección
                            <input class="form-control" type="text" [(ngModel)]="alojamiento.direccion">
                        </label>

                        <label class="form-label w-25">Nº
                            <input class="form-control" type="number" [(ngModel)]="alojamiento.numero">
                        </label>
                    </div>

                    <!-- C.P. y Provincia -->
                    <div class="d-flex gap-2">
                        <label class="form-label w-25">C.P.
                            <input class="form-control" type="text" [(ngModel)]="alojamiento.cp">
                        </label>

                        <label class="form-label w-75">Provincia
                            <input class="form-control" type="text" [(ngModel)]="alojamiento.provincia">
                        </label>
                    </div>

                    <!-- Localidad -->
                    <label class="form-label">Localidad</label>
                    <input class="form-control" type="text" [(ngModel)]="alojamiento.localidad">

                    <!-- Wen y Telefono -->
                    <div class="d-flex gap-2">
                        <label class="form-label w-75">Email
                            <input class="form-control" type="email" [(ngModel)]="alojamiento.email">
                        </label>

                        <label class="form-label w-25">Telefono
                            <input class="form-control" type="number" [(ngModel)]="alojamiento.tel">
                        </label>
                    </div>

                    <!-- Categoría -->
                    <label class="form-label">Categoría</label>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="alojamiento.categoria">
                        <option selected default disabled>Elegir categoría</option>
                        <option value="5">★★★★★</option>
                        <option value="4">★★★★</option>
                        <option value="3">★★★</option>
                        <option value="2">★★</option>
                        <option value="1">★</option>
                        <option value="0">Apartamentos y cámpings</option>

                    </select>
                    
                    <!-- Boton -->
                    <!-- <div class="d-flex d-md-grid justify-content-end">
                        <button class="btn btn-primary btn-lg botonAzulVacio mt-4 col-12">Guardar alojamiento</button>
                    </div> -->
                </div>

                <!-- SERVICIOS ALOJAMIENTOS -->
                <!-- ----------------------------------------------- -->
                <div class="contenedorInfoOferta rounded-3 p-3 mt-3">
                    <!-- Titulo -->
                    <div class="titulo d-flex justify-content-between align-items-center">
                        <h2>¿Qué hay en este alojamiento?</h2>
                    </div>
                    <hr>

                    <!-- Servicios -->
                    <div class="row px-3">
                        <div class="form-check col-6 col-md-3" *ngFor="let servicio of serviciosAlojamiento">
                            <input class="form-check-input" type="checkbox" (click)="seleccionarServicio(servicio.id)">
                            <label class="form-check-label" >{{servicio.nombre}}</label>
                        </div>
                    </div>
                </div>


                <!-- APARTADO ACTIVIDADES -->
                <!-- ------------------------------------------------------------------------------------------------ -->
                <div id="crearActividad" class="contenedorInfoOferta rounded-3 p-3 mt-4">
                    <!-- Actividades -->
                    <div class="titulo d-flex justify-content-between align-items-center">
                        <h2>Actividades</h2>
                    </div>
                    <hr>

                    <!-- Titulo -->
                    <label class="form-label">Título</label>
                    <input class="form-control" type="text" [(ngModel)]='actividad.titulo'>

                    <!-- Descripcion -->
                    <label class="form-label">Descripción</label>
                    <textarea class="form-control" rows="2" [(ngModel)]='actividad.descripcion'></textarea>
                    
                    <!-- Imagen -->
                    <label class="form-label">Imagen</label>
                    <input class="form-control" type="file" accept="image/*" (change)="uploadImagesLocalActividad($event)">

                    <!-- País -->
                    <label class="form-label">País</label>
                    <input class="form-control" type="text" [(ngModel)]="actividad.pais">

                    <!-- Dirección y Numero -->
                    <div class="d-flex gap-2">
                        <label class="form-label w-75">Dirección
                            <input class="form-control" type="text" [(ngModel)]="actividad.direccion">
                        </label>

                        <label class="form-label w-25">Nº
                            <input class="form-control" type="number" [(ngModel)]="actividad.numero">
                        </label>
                    </div>

                    <!-- C.P. y Provincia -->
                    <div class="d-flex gap-2">
                        <label class="form-label w-25">C.P.
                            <input class="form-control" type="text" [(ngModel)]="actividad.cp">
                        </label>

                        <label class="form-label w-75">Provincia
                            <input class="form-control" type="text" [(ngModel)]="actividad.provincia">
                        </label>
                    </div>

                    <!-- Localidad -->
                    <label class="form-label">Localidad</label>
                    <input class="form-control" type="text" [(ngModel)]="actividad.localidad">

                    <!-- Boton -->
                    <div class="d-flex d-md-grid justify-content-end">
                        <button class="btn btn-primary btn-lg botonAzulVacio mt-4 col-12" (click)="agregarActividad()">Guardar</button>
                    </div>
                    
                    <!-- Lista de actividades -->
                    <div *ngIf="actividades.length !== 0">
                        <hr>
                        <h3>Actividades incluidas</h3>
                        <div class="contenedorListaActividades d-flex flex-nowrap overflow-x-auto gap-2" style="height: 400px;">
                            <div class="card sombraHover overflow-hidden" style="width: 18rem; min-width: 18rem;" *ngFor="let activ of actividades">
                                <img [src]="activ.urlImagen" class="card-img-top imagenActividad" alt="..." style="aspect-ratio: 16/9; background-color: #f1f1f1;">
                                <div class="card-body">
                                    <h5 class="card-title">{{activ.titulo}}</h5>
                                    <p class="card-text">{{activ.descripcion}}</p>
                                    <div class="botonesActividades d-flex gap-2 p-3 position-absolute bottom-0 end-0 start-0">
                                        <button class="btn btn-primary btn-sm botonAzul mt-4 w-50" (click)="editarActividad(activ.titulo)">Editar</button>
                                        <button class="btn btn-primary btn-sm botonNaranja mt-4 w-50" (click)="borrarActividad(activ.titulo)">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BOTON PARA GUARDAR LA OFERTA -->
                <!-- ------------------------------------------------------------------------------------------------ -->
                <div class="d-flex justify-content-end mb-5 py-4 mt-3">
                    <button class="btn btn-primary btn-lg botonAzul col-12 col-lg-12" (click)="crearOferta();">Crear oferta</button>
                </div>


                <!-- fin zona de codigo -->
            </div> 
        </div>
    </div>
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>