<!-- Esto es el menu horizontal -->
<app-navbar-h></app-navbar-h>

<!-- Galeria de imagenes de la oferta -->

<div class="container">
    
    <div class="row">

        <!-- Aqui va el menu vertical -->
        <app-navbar-v class="col col-12 col-lg-3"></app-navbar-v>
        
        <div class="col col-12 col-lg-9 p-3">
            <div>
                <!-- Escribir código aqui -->
                <div class="titulo d-flex justify-content-between mt-3">
                    <h1 class="">Crear oferta</h1>
                    <button class="btn btn-primary">Crear oferta</button>
                </div>
                <hr>

                <!-- GALERIA DE FOTOS -->
                <!-- ------------------------------------------------------------------------------------------------ -->
                <div class="galeriaCrearOferta mb-3">
                    <div class="btnGaleria btnIz align-self-center">
                        <i class="bi bi-caret-left"></i>
                    </div>
                    <div class="btnGaleria btnDer align-self-center">
                        <i class="bi bi-caret-right"></i>
                    </div>
                    <div class="foto foto1" style="background-image: url({{fotos[0]}});"></div>
                    <div class="foto foto3" style="background-image: url({{fotos[1]}});"></div>
                    <div class="foto foto2" style="background-image: url({{fotos[2]}});"></div>
                    <div class="foto foto4" style="background-image: url({{fotos[3]}});"></div>
                    <div class="foto foto5" style="background-image: url({{fotos[4]}});"></div>
                    <div class="foto foto6" style="background-image: url({{fotos[5]}});"></div>
                    <div class="foto foto7" style="background-image: url({{fotos[6]}});"></div>
                </div>

                
                
                <!-- APARTADO INFORMACION DE LA OFERTA -->
                <!-- ------------------------------------------------------------------------------------------------ -->
                <div class="contenedorInfoOferta rounded-3 p-3">
                    <h2>Oferta</h2>
                    <hr>
                    <!-- Titulo -->
                    <label class="form-label">Titulo</label>
                    <input class="form-control" type="text">

                    <!-- Precio y Max de personas -->
                    <div class="d-flex gap-2">
                        <label class="form-label column-6 w-50">Precio
                            <input class="form-control" type="text">
                        </label>

                        <label class="form-label column-6 w-50">Máximo de personas
                            <input class="form-control" type="text">
                        </label>
                    </div>

                    <!-- Fecha inicio y Fecha fin -->
                    <div class="d-flex gap-2">
                        <label class="form-label column-6 w-50">Fecha inicio
                            <input class="form-control" type="date">
                        </label>

                        <label class="form-label column-6 w-50">Fecha fin
                            <input class="form-control" type="date">
                        </label>
                    </div>

                    <!-- Ofertas disponibles -->
                    <label class="form-label">Ofertas disponibles</label>
                    <input class="form-control" type="text">

                    <!-- Descripción -->
                    <label class="form-label">Descripción</label>
                    <!-- <input class="form-control" type="text"> -->
                    <textarea class="form-control" rows="3"></textarea>
                </div>


                <!-- APARTADO ALOJAMIENTOS -->
                <!-- ------------------------------------------------------------------------------------------------ -->



                <!-- fin zona de codigo -->
            </div> 
        </div>
    </div>
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>