.date-picker-form {
    width: 300px;
}

.rw-1{
    width: 80%;
}

img{
    object-fit: cover;
}

.cl-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.btn-settings{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lbl-1{
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
    height: 50px;
}

.lbl-2{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tb-1{
    display: flex;
    width: 500px;
    margin: 0;
    padding: 0;
}