.example-form-field {
    width: 300px;
}

.rw-1{
    width: 80%;
}

.size-elem{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-elem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

.btn-settings{
    display: flex;
    justify-content: space-between;
}