<div class="footer">
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="nav-footer">
            <div class="title">¿Necesitas ayuda?</div>
            <div class="context">
              <div class="contact">
                <div class="c-title">Llámanos</div>
                <div class="sub">0333 242 2322</div>
              </div>
              <div class="contact">
                <div class="c-title">Envíanos un email</div>
                <div class="sub">info@vivaviajes.es</div>
              </div>
              <div class="contact">
                <div class="c-title">Síguenos</div>
                <div class="sub">
                  <a href="#">
                      <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/facebook-new.png" alt="facebook-new"/>
                  </a>
                  <a href="#">
                      <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/twitter--v1.png" alt="twitter--v1"/>
                  </a>
                  <a href="#">
                      <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/instagram-new.png" alt="instagram-new"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="nav-footer">
            <div class="title">COMPAÑÍA</div>
            <div class="context">
              <ul class="p-0 m-0">
                <li><a href="#">Acerca de nosotros</a></li>
                <li>
                  <a href="#">Términos y condiciones</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="nav-footer">
            <div class="title">SOPORTE</div>
            <div class="context">
              <ul class="p-0 m-0">
                <li><a href="#">Cuenta</a></li>
                <li><a href="#">Contacto</a></li>

                <li><a href="#">Política de privacidad</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex logo_img">
        <img
          width="48" height="48" src="https://img.icons8.com/color/48/visa.png" alt="visa"
        />
        <img
          width="48" height="48" src="https://img.icons8.com/color/48/maestro.png" alt="maestro"
        />
        <img
          width="48" height="48" src="https://img.icons8.com/color/48/mastercard.png" alt="mastercard"
        />
      </div>
    </div>
  </div>
  <div class="copy-right">
    <div class="container context">
      <div class="row">
        <div class="col-md-12">
          <p>
              VivaViajes actúa como agente entre usted y una serie de terceros proveedores (por ejemplo, hoteles, empresas de actividades).
              Cada artículo reservado con nosotros genera un contrato independiente entre usted y el proveedor del producto que ha reservado.
          </p>
          <div class="float-right">
            <p>Copyright © 2023 by VivaViajes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 