<app-navbar-h></app-navbar-h>
<div class="container py-3 cnt-settings mt-2">
    <div class="row justify-content-center">
        <h1 class="col-lg-9">Introduce los datos del viajero</h1>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-12 col-lg-9 d-flex mt-3">
            <div class="form-floating m-1 w-100">
                <input type="text" class="form-control" placeholder="Password">
                <label for="floatingPassword">Nombre</label>
            </div>
            <div class="form-floating m-1 w-100">
                <input type="text" class="form-control" placeholder="Password">
                <label for="floatingPassword">Apellidos</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-12 col-lg-9 d-flex">
            <div class="form-floating m-1 w-100">
                <select class="form-select p-3">
                    <option value="1" selected>DNI</option>
                    <option value="2">Pasaporte</option>
                    <option value="3">NIE</option>
                </select>
            </div>
            <div class="form-floating m-1 w-100">
                <input type="text" class="form-control" placeholder="Password">
                <label for="floatingPassword">Documento</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-12 col-lg-9 d-flex">
            <div class="form-floating m-1 w-100">
                <input type="text" class="form-control" placeholder="Password">
                <label for="floatingPassword">Email</label>
            </div>
            <div class="form-floating m-1 w-100">
                <input type="text" class="form-control" placeholder="Password">
                <label for="floatingPassword">Teléfono</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-lg-9 d-flex mt-1">
            <span class="material-symbols-outlined card-style">
                credit_card
            </span>
            <p class="d-flex align-items-center m-0 p-0">Tarjeta de crédito o débito</p>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-12 col-lg-9 mb-1 mt-1">
            <img width="48" height="48" src="https://img.icons8.com/color/48/visa.png" alt="visa"/>
            <img width="48" height="48" src="https://img.icons8.com/color/48/maestro.png" alt="maestro"/>
            <img width="48" height="48" src="https://img.icons8.com/color/48/mastercard.png" alt="mastercard"/>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-6 col-lg-5 pe-1">
            <div class="mb-3">
                <label class="form-label">Número de tarjeta</label>
                <input type="text" class="form-control" placeholder="Número de tarjeta">
            </div>
        </div>
        <div class="col-3 col-lg-2 px-1">
            <div class="mb-3">
                <label class="form-label">Caducidad</label>
                <input type="text" class="form-control" placeholder="MM/AA">
            </div>
        </div>
        <div class="col-3 col-lg-2 ps-1">
            <div class="mb-3">
                <label class="form-label">CVV</label>
                <input type="text" class="form-control" placeholder="CVV">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-12 col-lg-9 d-flex justify-content-center">
            <button type="button" class="btn botonNaranja mb-3 btn-settings">Pagar {{precio | number: '1.2-2' }} €</button>
        </div>
    </div>
</div>