.imagenAloj{
    width: auto;
    height: 250px;
    object-fit: cover;

    background-image: url("https://firebasestorage.googleapis.com/v0/b/vivaviajes-c4008.appspot.com/o/recursos%2Fhotel-2.svg?alt=media&token=f5c175e7-6da5-419c-b4b5-8b071a88dfd0");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tarjeta{
    cursor: pointer;
}