<!-- <div *ngFor="let hotel of listaHoteles" class="card card-style mb-3" id="{{hotel.id}}"> -->
<div class="card card-style mb-3">
    <img src="{{alojamiento.imagenes}}" class="card-img-top img-style img-size" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{alojamiento.nombre}}</h5>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-danger" routerLink="/admin/editar-hotel/{{alojamiento.id}}" (click)="onEditar()">Editar</button>
        </div>
    </div>
</div>
<!-- </div> -->
