<nav class="navHorizontal navbar navbar-expand-lg bg-body-tertiary mb-3">
    
    <div class="container-fluid container">
        <a class="navbar-brand" routerLink="">
            <img src="../../../assets/logo-app-2000.png" alt="">
        </a>

        <!-- Desplegar menus con TypeScript -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="activarMenu()">
            <i class="bi bi-list"></i>
        </button>

        <!-- Menu pc -->
        <div class="collapse navbar-collapse" id="navbarHorizontal">
            <!-- Botones izquierda -->
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Inicio</a>
                <a class="nav-link" routerLink="/about" routerLinkActive="active">Sobre nosotros</a>
            </div>

            <!-- Botones derecha -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex col justify-content-end">
                <a class="nav-link" aria-current="page" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/perfil" routerLinkActive="active">Mi perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>