img{
    width: 50px;
    height: 50px;
}

.barra-progreso{
    width: 100px;
}

.logotipo{
    width: 10em;
}
.logotipo > img{
    width: 100%;
}

.navHorizontal{
    background-color: var(--turquesa-brillante) !important;
    opacity: 95%;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    z-index: 100;
}

.navHorizontal a{
    font-size: 1.2em;
    color: #fff;
    border-top: .2em solid transparent;
    border-bottom: .2em solid transparent;
}
.navHorizontal a:hover{
    border-bottom: .2em solid var(--turquesa-brillante-1);
}
.navHorizontal a.active{
    font-weight: bold;
}

.navHorizontal .dropdown-menu a{
    color: var(--turquesa-brillante-0);
    border-top: .2em solid transparent;
    border-bottom: .2em solid transparent;
    transition: all .3s;
}
.navHorizontal .dropdown-menu a:hover{
    background-color: transparent;
    padding-left: 1em;
}
.navHorizontal .dropdown-menu a:active{
    background-color: transparent;
}

.navHorizontal .navbar-toggler{
    font-size: 2em;
    color: #fff;
    border-color: #fff;
}

.dropdown-menu a.active{
    background-color: transparent;
}