<app-navbar-h></app-navbar-h>

<div class="container py-4">
  <div class="row justify-content-center">
    <app-menu-perfil class="d-none d-lg-block col-lg-3"></app-menu-perfil>
    <div class="col-12 col-lg-8 p-3">
      <h1>Logros</h1>
      <hr />
      <div class="d-flex">
        <div>
          <button
            class="card awards-item-component d-flex align-items-center justify-content-center"
            style="width: 10rem"
            data-bs-toggle="modal"
            data-bs-target="#plata"
          >
            <img
              src="https://www.chess.com/bundles/web/images/achievements/progressive_live_rapid_1.96e41f23.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p><strong class="card-text">Plata</strong></p>
            </div>
          </button>
          <div
            class="modal fade"
            id="plata"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div
                  class="modal-body d-flex align-items-center justify-content-center  gap-5"
                >
                  <img
                    width="100"
                    height="100"
                    src="https://www.chess.com/bundles/web/images/achievements/progressive_live_rapid_1.96e41f23.png"
                    alt="..."
                  />
                  <div class="d-flex flex-column">
                    <p><strong class="card-text">Plata</strong></p>
                    <p>
                      Acceso a ofertas exclusivas
                    </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary botonNaranja"
                    data-bs-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button type="button" class="btn btn-primary botonAzul">
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="valor_nivel > 0">
          <button
            class="card awards-item-component d-flex align-items-center justify-content-center"
            style="width: 10rem"
            data-bs-toggle="modal"
            data-bs-target="#oro"
          >
            <img
              src="https://www.chess.com/bundles/web/images/achievements/league_wood.c6e1abae.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p><strong class="card-text">Oro</strong></p>
            </div>
          </button>
          <div
            class="modal fade"
            id="oro"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div
                  class="modal-body d-flex align-items-center justify-content-center gap-5"
                >
                  <img
                    width="100"
                    height="100"
                    src="https://www.chess.com/bundles/web/images/achievements/league_wood.c6e1abae.png"
                    alt="..."
                  />
                  <div class="d-flex flex-column">
                    <p><strong class="card-text">Oro</strong></p>
                    <p>
                      Ofertas exclusivas + Upgrade a habitación premium
                    </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary botonNaranja"
                    data-bs-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button type="button" class="btn btn-primary botonAzul">
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="valor_nivel > 1">
          <button
            class="card awards-item-component d-flex align-items-center justify-content-center"
            style="width: 10rem"
            data-bs-toggle="modal"
            data-bs-target="#platino"
          >
            <img
              src="https://www.chess.com/bundles/web/images/achievements/league_stone.5dd88c9a.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p><strong class="card-text">Platino</strong></p>
            </div>
          </button>
          <div
            class="modal fade"
            id="platino"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div
                  class="modal-body d-flex align-items-center justify-content-center gap-5"
                >
                  <img
                    width="100"
                    height="100"
                    src="https://www.chess.com/bundles/web/images/achievements/league_stone.5dd88c9a.png"
                    alt="..."
                  />
                  <div class="d-flex flex-column">
                    <p><strong class="card-text">Platino</strong></p>
                    <p>
                      Ofertas de lujo + Acceso a spa gratuito
                      
                    </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary botonNaranja"
                    data-bs-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button type="button" class="btn btn-primary botonAzul">
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="valor_nivel > 2">
          <button
            class="card awards-item-component d-flex align-items-center justify-content-center"
            style="width: 10rem"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <img
              src="https://www.chess.com/bundles/web/images/achievements/league_bronze.c41c4dff.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p><strong class="card-text">Diamante</strong></p>
            </div>
          </button>
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div
                  class="modal-body d-flex align-items-center justify-content-center gap-5"
                >
                  <img
                    width="100"
                    height="100"
                    src="https://www.chess.com/bundles/web/images/achievements/league_bronze.c41c4dff.png"
                    alt="..."
                  />
                  <div class="d-flex flex-column">
                    <p><strong class="card-text">Diamante</strong></p>
                    <p>
                      Ofertas VIP + Servicio de conserje personal
                    </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary botonNaranja"
                    data-bs-dismiss="modal"
                  >
                    Cerrar
                  </button>
                  <button type="button" class="btn btn-primary botonAzul">
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <strong>Progreso</strong>
      <br><br>
      <div class="progress barra-progreso" role="progressbar" aria-label="recompensas" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" id="barra-progreso" style="width: 0%;">{{porcentage_exp}}%</div>
      </div>
      <br><br>
      <p>Experiencia total: {{experiencia_usuario}}</p>
    </div>
  </div>
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>
