<!-- Esto es el menu horizontal -->
<app-navbar-h></app-navbar-h>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-11 col-md-10 col-lg-9 col-xxl-7 m-5">
            <h1>Crear alojamiento</h1>
            <form>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="nombre">
                </div>
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoria</label>
                    <select class="form-control form-select" id="categoria" name="categoria" required [(ngModel)]="categoria">
                        <option value="" disabled selected>Selecciona una categoría</option>
                        <option value="1">Categoría 1</option>
                        <option value="2">Categoría 2</option>
                        <option value="3">Categoría 3</option>
                        <!-- Agrega más opciones según tus necesidades -->
                    </select>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" required [(ngModel)]="telefono">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" >
                    <div class="invalid-feedback">Por favor, ingresa un correo electrónico válido.</div>
                </div>
                <!-- País -->
                <div class="mb-3">
                    <label class="form-label ">País</label>
                    <input class="form-control" type="text">
                </div>

                <!-- Dirección y Numero -->
                <div class="mb-3 gap-2 d-flex">
                    <label class="form-label w-75">Dirección
                        <input class="form-control" type="text">
                    </label>

                    <label class="form-label w-25">
                        <input class="form-control" type="text">
                    </label>
                </div>

                <!-- C.P. y Provincia -->
                <div class="d-flex gap-2 mb-3">
                    <label class="form-label w-25">C.P.
                        <input class="form-control" type="text">
                    </label>

                    <label class="form-label w-75">Provincia
                        <input class="form-control" type="text">
                    </label>
                </div>

                <!-- Localidad -->
                <div class="mb-3">
                    <label class="form-label">Localidad</label>
                    <input class="form-control" type="text">
                </div>
                <div class="mb-3">
                    <div>
                        <label for="imagen" class="form-label">Imagen</label>
                        <input type="file" class="form-control" id="imagen" name="imagen" [(ngModel)]="imagen">
                        <small class="form-text text-muted">Cargar imagen</small>
                    </div>
                    <button type="submit" class="btn btn-warning text-white mt-2">Añadir imagen</button>
                </div>
                <button type="submit" class="btn btn-primary" (click)="addHotel()">Añadir alojamiento</button>
            </form>
        </div>
    </div>
</div>

<!-- Aqui va el footer -->
<app-footer></app-footer>