<app-navbar-h></app-navbar-h>

<div class="container py-4">
    <div class="row justify-content-center">
        <app-menu-perfil class="d-none d-lg-block col-lg-3"></app-menu-perfil>
        <div class="col-12 col-lg-8 p-3">
            <div>
                <h1>Mis reservas</h1>
                <hr>
                <div *ngFor="let reserva of listaReservas">
                    <app-reserva-item [reserva]="reserva"></app-reserva-item>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>