img{
    object-fit: cover;
}

.img-style{
    height: 300px;
}

.card-style{
    background-color: white;
    border-radius: 10px;
}

.card-style:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}